<!DOCTYPE html>
<html>
<head>
  <title>Justin Kemmerer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div id="name">
			<%= render "layouts/name" %>
		</div>

		<nav>
			<ul id="navlist">
				<li id="about"><%= link_to "About", root_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<!-- <li><%= link_to("Experience", experiences_path) %></li> -->
				<li><%= link_to "Contact", contacts_path %></li>
			</ul>
		</nav>
	</header>

<section id="content-container" >
	<%= yield %>
</section>

<footer>
	<p id="copyright">&copy; 2014 Justin Kemmerer.</p>
</footer>

</body>
</html>
